@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

section{
  height: 100vh;
  padding-top: 60px;
  background-color: rgb(203, 225, 235);
}

.navbar{
  background: #1B242F;
}

.navbar-toggle span{
  background: rgb(230, 230, 230);
}

.navbar-toggle{
  border-color: rgb(230, 230, 230);
}

li a{
  color: rgb(230, 230, 230);
}

.navbar-brand{
  color: rgb(230, 230, 230);
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b9ac14;
}

#home p{
  font-size: 40px;
  text-align: center;
}

#home i{
  font-size: 25px;
  color: rgb(230, 230, 230);
  margin: 4px;
}

#home span{
  color: rgb(230, 230, 230);
}

#home button{
  padding: 10px;
  width: 10em;
  margin-top: 20px;
  border: 2px solid rgb(230, 230, 230);
  background: transparent;
  outline: inherit;
  color: rgb(230, 230, 230);
}

#home button:hover{
  border:4px solid rgb(230, 230, 230);
}

#about{
  position: relative;
}

.about-container{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid #b9ac14;
  padding: 40px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  height: 80%;
}

.info h1{
  margin-bottom: 40px;
}

.info{
  width: 50%;
}

.info p{
  font-size: 16px;
}

.exp-container .skills img{
  width: 20%;
  margin-bottom: 30px;
}

.exp-container h2{
  margin-bottom: 40px;
  text-align: center;
}

.exp img{
  width: 40px;
  border: 1px solid #1B242F;
  border-radius: 100%;
  padding: 5px;
}

.comp-container{
  background: rgb(230, 230, 230);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comp{
  padding: 20px;
}

.carousel-indicators li{
  border-color: #1B242F;
  background: #1B242F;
}

.carousel-inner img{
  height: 50vh;
}

#contact{
  position: relative;
}

.center {
  position:absolute;
  background: white;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0px 40px 20px;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #ccbb00;
  margin: 25px 0;
}

.txt_field input, .txt_field textarea{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field textarea{
  height: 80px;
}

.txt_field input + label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field textarea + label{
  position: absolute;
  top: 0;
  left: 5px;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top:-5px;
  color:#ccbb00;
}

.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label{
  top:-20px;
  color:#ccbb00;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid; 
  border-radius: 20px;
  font-size: 18px;
  background: #ccbb00;
  color: white;
  cursor: pointer;
  outline: none;
}