@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

.nav-list{
  background-color: #1B242F;
  box-shadow: 0px 0px 7px;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-item{
  list-style: none;
  margin-right: 2rem;
}

.nav-item a{
  text-decoration: none;
  color: rgb(226,226,226);
  letter-spacing: 3px;
  font-size: 14px;
}

.nav-item a:hover{
  color: #ccbb00;
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 2rem;
  letter-spacing: 5px;
  flex-shrink: 0; 
}

.knowme {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #ccbb00;
  color: #ffff;
  font-size: 4vw;
  text-align: center;
}

span{
  color: #1B242F;
}

.knowme img{
  border-radius: 8px;
  width: 20%;
}

section{
  height: 100vh;
  width: 100%;
  padding: 5rem;
}

section:nth-child(2n + 1){
  background-color: #F1F5F8;
}

.Myname a{
  color: #1B242F;
  font-size: 2vw;
}

section h2{
  font-size: 3vw;
}

#contact{
  position: relative;
}

.center {
  position:absolute;
  background: white;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.center h2{
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0px 40px 20px;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #ccbb00;
  margin: 30px 0;
}

.txt_field input, .txt_field textarea{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field textarea{
  height: 80px;
}

.txt_field input + label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field textarea + label{
  position: absolute;
  top: 0;
  left: 5px;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top:-5px;
  color:#ccbb00;
}

.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label{
  top:-20px;
  color:#ccbb00;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid; 
  border-radius: 20px;
  font-size: 18px;
  background: #ccbb00;
  color: white;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  border-color: #ccbb00;
  transition: .5s;
}